# Ignore the virtual environment
env/

# Ignore compiled bytecode
__pycache__/

# Ignore the database file
db.sqlite3

# Ignore Django migrations
**/migrations/

# Ignore media files
media/

# Ignore sensitive data (e.g., settings with secrets)
*.env
