@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto";
  @apply text-rose-700
}

.label {
  @apply font-semibold text-stone-700
}

.tooltip:hover div {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6d3d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}


@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.mini-spinner {
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fda4af 75%, #0000) top/4px 4px no-repeat,
    conic-gradient(#0000 60%, #fda4af);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: rotate 1s infinite linear;
}

.spinner {
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fda4af 94%, #0000) top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #fda4af);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1s infinite linear;
}

@layer components {
  .input {
    @apply px-3 flex-grow rounded-lg border-2 border-stone-200 bg-stone-100 p-2 text-base text-stone-600;
  }

  .input:focus {
    @apply outline-none ring-1 ring-stone-700;
  }
}
